<%- partial('_partial/head') %>
    <body>
        <div id="container">
            <div id="wrap">
                <%- partial('_partial/header', null, {cache: !config.relative_link}) %>
                    <div class="container main_main">
                        <div class="row">
                            <div class="col-sm-12 col-md-9 col-lg-9 side_main js_side_main">
                                <%- body %>
                            </div>
                            <% if (theme.sidebar && theme.sidebar !== 'bottom'){ %>
                                <%- partial('_partial/sidebar', null, {cache: !config.relative_link}) %>
                            <% } %>                           
                        </div>
                    </div>
                    <%- partial('_partial/footer', null, {cache: !config.relative_link}) %>
            </div>
            <%- partial('_partial/mobile-nav', null, {cache: !config.relative_link}) %>
            <%- partial('_partial/after-footer') %>
        </div>
    </body>

</html>